# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/
*.o
*.out

#idea IDE files
.idea/
data/
model_dir/
target/
project/
*.iml
.DS_Store
.DS_Store?

#python
**/__pycache__/


#data set 
MNIST-data/
inception5h.zip
pilatus800.jpg
tsne.png
*.pb
.ipynb_checkpoints

# Executables
*.swf
*.air
*.ipa
*.apk
*.pydevproject


.ipynb_checkpoints/
model_save
