# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/
*.o
*.out

# IDE files
.idea/
.vscode/
*.iml
target/

# operating system files
.DS_Store
.DS_Store?

out/
output/
model_dir/
model_save
project/

# python
**/__pycache__/


# data set 
MNIST-data/
inception5h.zip
data/
pilatus800.jpg
tsne.png
*.pb
.ipynb_checkpoints
.ipynb_checkpoints/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pydevproject
*.so
